body {
  background-image: url
    }


*{
	margin: 20;
	padding: 20;
	text-decoration: none;
	font-family:sans-serif;
	
	list-style:none;
}
center{
	position: relative;
	margin: 20px auto;
	width: 600px;
	height: 70px;
	text-align:center;
	background:#059244;
	color:black;
	font-weight: bold;
	line-height: 60px;
	border-radius: 20px;
}
#calcular{
	margin: 10px auto;
	position:relative;
	width: 300px;
	height: 450px;
	border: 10px solid #aaa;
	background: black;
}
#operaciones{
	position: relative;
	margin: 40px auto;
	border: 5px solid #aaa;
	width: 70%;
	background: white;
	border: solid;
	padding: 6%;
}
.numero  {
	position: relative;
	margin: 20px auto;
	border: 5px solid;
	background:white;
	width: 20%;
	border: solid;
}
#operador{
	position: absolute;
	margin: 20px auto;
	border:5px solid ;
	background: white;
	width: 10%;
	border: solid;
}
.decimal{
	position: relative;
	margin: 20px auto;
	border: 5px solid;
	background: white;
	width: 20%;
	border: solid;
}
#calcular ul{
	margin-left: 5px;
}
#calcular ul li{
	float: left;
	padding: 11px;
	width: 10px;
	text-align: center;
	margin: 8px;
	background:goldenrod;
	border:2px solid #aaa;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;

}
 #borrar {
 	position:relative;
 	float: left;
	padding: 11px;
	width: 48px;
	text-align: center;
	margin: 8px;
	background:goldenrod;
	border:2px solid #aaa;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
	left: 105px;
}
#operador{
	margin: 2px auto;
	background: white;
	width: 20px;
	border-radius: 6px;
	pointer-events:2px ;
}
#calcular ul li:hover{
	background: orange;
	color:blanchedalmond;

}
#borrar:active{
	background: orange;
	color: yellow;
}

